{% load static %}


<div class="relative h-[640px] pb-2">
    <!-- slidebar 1 background -->
    <img
            class="w-full h-[640px] absolute top-0 z-[-2]"
            src="{% static './images/slide_bar_wallpaper.jpg' %}"
            alt="slide bar image"
    />
    <div
            class="w-full h-[640px] absolute top-0 z-[-1] backdrop-blur-[4px]"
    ></div>

    <!-- slidebar container -->
    <div class="relative w-full h-[640px] slidebar-1 z-[20]">
        <!-- slide 1 -->
        <div
                class="absolute container h-[40rem] mx-auto flex flex-col items-center lg:flex-row item active"
        >
            <div class="self-center my-5 w-[250px] lg:w-1/2">
                <img
                        class="rounded-xl lg:w-[300px] lg:mx-auto"
                        src="{% static './images/book.png' %}"
                        alt="book"
                />
            </div>
            <div
                    class="flex flex-col lg:w-1/2 lg:self-end lg:mb-[130px] mx-4 lg:mr-10"
            >
                <h3
                        class="text-center text-2xl font-bold bg-[#ffffffc9] inline-block self-center lg:self-end py-3 px-4 mb-2 rounded"
                >
                    فیزیولوژی برای دانشجویان پزشکی
                </h3>
                <p
                        class="text-center lg:text-right bg-[#ffffffc9] inline-block mx-2 px-2 py-2 lg:mx-0 rounded"
                >
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                    است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                    متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
            </div>
        </div>

        <!-- slide 1 -->
        <div
                class="absolute container h-[40rem] mx-auto flex flex-col items-center lg:flex-row item"
        >
            <div class="self-center my-5 w-[250px] lg:w-1/2">
                <img
                        class="rounded-xl lg:w-[300px] lg:mx-auto"
                        src="{% static './images/book.png' %}"
                        alt="book"
                />
            </div>
            <div
                    class="flex flex-col lg:w-1/2 lg:self-end lg:mb-[130px] mx-4 lg:mr-10"
            >
                <h3
                        class="text-center text-2xl font-bold bg-[#ffffffc9] inline-block self-center lg:self-end py-3 px-4 mb-2 rounded"
                >
                    فیزیولوژی برای دانشجویان پزشکی
                </h3>
                <p
                        class="text-center lg:text-right bg-[#ffffffc9] inline-block mx-2 px-2 py-2 lg:mx-0 rounded"
                >
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                    است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                    متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
            </div>
        </div>

        <!-- slide 1 -->
        <div
                class="absolute container h-[40rem] mx-auto flex flex-col items-center lg:flex-row item"
        >
            <div class="self-center my-5 w-[250px] lg:w-1/2">
                <img
                        class="rounded-xl lg:w-[300px] lg:mx-auto"
                        src="{% static './images/book.png' %}"
                        alt="book"
                />
            </div>
            <div
                    class="flex flex-col lg:w-1/2 lg:self-end lg:mb-[130px] mx-4 lg:mr-10"
            >
                <h3
                        class="text-center text-2xl font-bold bg-[#ffffffc9] inline-block self-center lg:self-end py-3 px-4 mb-2 rounded"
                >
                    فیزیولوژی برای دانشجویان پزشکی
                </h3>
                <p
                        class="text-center lg:text-right bg-[#ffffffc9] inline-block mx-2 px-2 py-2 lg:mx-0 rounded"
                >
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                    است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                    متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
            </div>
        </div>
    </div>
</div>