/* nav start */


.hamberger-menu:hover .hamberger-item:nth-child(1),
.hamberger-menu:hover .hamberger-item:nth-child(3) {
    width: 50%;
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}

.avatar-wrapper:hover .avatar-option {
    display: block;
}

/* nav end */